    <!-- Jumbotron Header -->
    <header class="jumbotron my-4" style="height: 50px" style="padding: 5em inherit">
      <h1 class="display" style="margin: -25px">Queries!</h1>
    </header>
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <%= image_tag 'people.jpg', :class => "card-img-top"%>
          <div class="card-body d-flex flex-column">
            <h4 class="card-title mt-auto">Query 1</h4>
            <p class="card-text">Select all events booked at venues that can host at least a certain number of people</p>
          </div>
          <div class="card-footer">
            <a href="/query/queryOne" class="btn btn-primary" style="color:white">Run Query</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <%= image_tag '3people.png', :class => "card-img-top"%>
          <div class="card-body d-flex flex-column">
            <h4 class="card-title mt-auto">Query 2</h4>
            <p class="card-text">Show all clients that have booked at least a number of times at a chosen venue</p>
          </div>
          <div class="card-footer">
            <a href="/query/queryTwo" class="btn btn-primary" style="color:white">Run Query</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <%= image_tag 'items2.jpg', :class => "card-img-top"%>
          <div class="card-body d-flex flex-column">
            <h4 class="card-title mt-auto">Query 3</h4>
            <p class="card-text">Display all item bookings for a specific event</p>
          </div>
          <div class="card-footer">
            <a href="/query/queryThree" class="btn btn-primary" style="color:white">Run Query</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <%= image_tag 'delivery.jpg', :class => "card-img-top"%>
          <div class="card-body d-flex flex-column">
            <h4 class="card-title mt-auto">Query 4</h4>
            <p class="card-text">Show all items under a price limit, their suppliers and events that they are booked for</p>
          </div>
          <div class="card-footer">
            <a href="/query/queryFour" class="btn btn-primary" style="color:white">Run Query</a>
          </div>
        </div>
      </div>

            <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <%= image_tag 'calculator.jpg', :class => "card-img-top"%>
          <div class="card-body d-flex flex-column">
            <h4 class="card-title mt-auto">Query 5</h4>
            <p class="card-text">Calculate the average budget spent at a specific venue by each client</p>
          </div>
          <div class="card-footer">
            <a href="/query/queryFive" class="btn btn-primary" style="color:white">Run Query</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <%= image_tag 'query4.png', :class => "card-img-top"%>
          <div class="card-body d-flex flex-column">
            <h4 class="card-title mt-auto">Query 6</h4>
            <p class="card-text">Display all supplier name and items of a specific type that they supply, include in the result suppliers that we currently do not carry items from</p>
          </div>
          <div class="card-footer">
            <a href="/query/querySix" class="btn btn-primary" style="color:white">Run Query</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
