<h1>Query One</h1>

<h1></h1>
<%= label_tag 'Select all events booked at venues that can host at least a certain number of people' %>

<div class="field">
<%= label_tag 'Required Capacity' %>
<%= number_field_tag 'capacity' %>
</div>

<div class="actions">
<%= button_tag 'Execute', type: 'button', id: 'execute' %>
</div>

<br> <br>

<div id="div_table">
<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Event</th>
      <th>Venue</th>
      <th>Capacity</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

<script type='text/javascript'>
  $('#execute').click( function(){
    var capacity = $('#capacity')[0].value
    $.get('/query/getQueryOne', { capacity: capacity } , function(data){
      reinitalizeTable("<th>Event</th><th>Venue</th><th>Capacity</th>",
        ['event_name', 'venue_name', 'capacity'], data)
    });
  });
</script>
