<h1>Query Four</h1>

<h1></h1>
<%= label_tag 'Select all items under a price limit, their suppliers and events that they are booked for' %>

<div class="field">
<%= label_tag 'Ceiling Price' %>
<%= number_field_tag 'ceilingPrice' %>
</div>

<div class="actions">
<%= button_tag 'Execute', type: 'button', id: 'execute' %>
</div>

<br> <br>

<div id="div_table">
<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Item</th>
      <th>Unit</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Supplier</th>
      <th>Event</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

<script type='text/javascript'>
  $('#execute').click( function(){
    var ceilingPrice = $('#ceilingPrice')[0].value
    $.get('/query/getQueryFour', { ceilingPrice: ceilingPrice } , function(data){
      reinitalizeTable("<th>Item</th><th>Unit</th><th>Price</th><th>Quantity</th><th>Supplier</th><th>Event</th>",
        ['item_name','unit','pricing', 'quantity','supplier_name','event_name'], data)
    });
  });
</script>