<h1>Query Six</h1>

<h1></h1>
<%= label_tag 'Display all supplier name and items of a specific type that they supply, include in the result suppliers that we currently do not carry items from' %>

<div class="field">
<%= label_tag 'Item Type' %>
<%= select_tag "itemType", options_from_collection_for_select(ItemType.all, "id", "item_type_name")%>
</div>

<div class="actions">
<%= button_tag 'Execute', type: 'button', id: 'execute' %>
</div>

<br> <br>

<div id="div_table">
<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Supplier</th>
      <th>Item</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

<script type='text/javascript'>
  $('#execute').click( function(){
    var itemTypeId = $('#itemType')[0].value
    $.get('/query/getQuerySix', { itemTypeId: itemTypeId } , function(data){
      reinitalizeTable("<th>Supplier</th><th>Item</th>", ['supplier_name','item_name'], data)
    });
  });
</script>