<h1>Query Two</h1>

<h1></h1>
<%= label_tag 'Show all clients that have booked at least a number of times at a chosen venue' %>

<div class="field">
<%= label_tag 'Venue' %>
<%= select_tag "venue", options_from_collection_for_select(Venue.all, "id", "venue_name")%>
</div>

<div class="field">
<%= label_tag 'Minimum Booking' %>
<%= number_field_tag 'minBooking' %>
</div>

<div class="actions">
<%= button_tag 'Execute', type: 'button', id: 'execute' %>
</div>

<br> <br>

<div id="div_table">
<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Client</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

<script type='text/javascript'>
  $('#execute').click( function(){
    var venueId = $('#venue')[0].value
    var minBooking = $('#minBooking')[0].value
    $.get('/query/getQueryTwo', { venueId: venueId, minBooking: minBooking }, function(data){
      reinitalizeTable("<th>Client</th>", ['client_name'], data)
    });
  });
</script>
