<h1>Query Five</h1>

<h1></h1>
<%= label_tag 'Calculate the average budget spent at a specific venue by each client' %>

<div class="field">
<%= label_tag 'Venue' %>
<%= select_tag "venue", options_from_collection_for_select(Venue.all, "id", "venue_name")%>
</div>

<div class="actions">
<%= button_tag 'Execute', type: 'button', id: 'execute' %>
</div>

<br> <br>

<div id="div_table">
<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Client</th>
      <th>Average Budget</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

<script type='text/javascript'>
  $('#execute').click( function(){
    var venueId = $('#venue')[0].value
    $.get('/query/getQueryFive', { venueId: venueId } , function(data){
      reinitalizeTable("<th>Client</th><th>Average Budget</th>", ['client_name','avg_budget'], data)
    });
  });
</script>