<h1>Query Three</h1>

<h1></h1>
<%= label_tag 'Display all item bookings for a specific event' %>

<div class="field">
<%= label_tag 'Event' %>
<%= select_tag "event", options_from_collection_for_select(EventBooking.all, "id", "event_name")%>
</div>

<div class="actions">
<%= button_tag 'Execute', type: 'button', id: 'execute' %>
</div>

<br> <br>

<div id="div_table">
<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Item</th>
      <th>Unit</th>
      <th>Pricing</th>
      <th>Supplier</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>

<script type='text/javascript'>
  $('#execute').click( function(){
    var eventId = $('#event')[0].value
    $.get('/query/getQueryThree', { eventId: eventId } , function(data){
      reinitalizeTable("<th>Item</th><th>Unit</th><th>Pricing</th><th>Supplier</th>", ['item_name','unit','pricing','supplier_name'], data)
    });
  });
</script>