<%= form_with(model: item_type, local: true) do |form| %>
  <% if item_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item_type.errors.count, "error") %> prohibited this item_type from being saved:</h2>

      <ul>
      <% item_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item_type_name %>
    <%= form.text_field :item_type_name, id: :item_type_item_type_name %>
  </div>

  <div class="field">
    <%= form.label :unit %>
    <%= form.text_field :unit, id: :item_type_unit %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
