<p id="notice"><%= notice %></p>

<h1>Item Types</h1>

<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Item type name</th>
      <th>Unit</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @item_types.each do |item_type| %>
      <tr>
        <td><%= item_type.item_type_name %></td>
        <td><%= item_type.unit %></td>
        <td>
        <%= link_to 'Show', item_type %>
        <%= link_to 'Edit', edit_item_type_path(item_type) %>
        <%= link_to 'Destroy', item_type, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item Type', new_item_type_path %>
