<p id="notice"><%= notice %></p>

<p>
  <strong>Item type name:</strong>
  <%= @item_type.item_type_name %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @item_type.unit %>
</p>

<%= link_to 'Edit', edit_item_type_path(@item_type) %> |
<%= link_to 'Back', item_types_path %>
