<%= form_with(model: billing_info, local: true) do |form| %>
  <% if billing_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(billing_info.errors.count, "error") %> prohibited this billing_info from being saved:</h2>

      <ul>
      <% billing_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.collection_select :client_id, @clients, :id, :client_name %>
  </div>

  <div class="field">
    <%= form.label :card_number %>
    <%= form.text_field :card_number, id: :billing_info_card_number %>
  </div>

  <div class="field">
    <%= form.label :name_on_card %>
    <%= form.text_field :name_on_card, id: :billing_info_name_on_card %>
  </div>

  <div class="field">
    <%= form.label :security_code %>
    <%= form.text_field :security_code, id: :billing_info_security_code %>
  </div>

  <div class="field">
    <%= form.label :month_expiry %>
    <%= form.number_field :month_expiry, id: :billing_info_month_expiry %>
  </div>

  <div class="field">
    <%= form.label :year_expiry %>
    <%= form.number_field :year_expiry, id: :billing_info_year_expiry %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
