<p id="notice"><%= notice %></p>

<h1>Billing Infos</h1>

<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Client</th>
      <th>Card number</th>
      <th>Name on card</th>
      <th>Security code</th>
      <th>Month expiry</th>
      <th>Year expiry</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @billing_infos.each do |billing_info| %>
      <tr>
        <td><%= @clients.where(id: billing_info.client_id).first.client_name %></td>
        <td><%= billing_info.card_number %></td>
        <td><%= billing_info.name_on_card %></td>
        <td><%= billing_info.security_code %></td>
        <td><%= billing_info.month_expiry %></td>
        <td><%= billing_info.year_expiry %></td>
        <td>
        <%= link_to 'Show', billing_info %>
        <%= link_to 'Edit', edit_billing_info_path(billing_info) %>
        <%= link_to 'Destroy', billing_info, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Billing Info', new_billing_info_path %>
