<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= Client.all.where(id: @billing_info.client_id).first.client_name %>
</p>

<p>
  <strong>Card number:</strong>
  <%= @billing_info.card_number %>
</p>

<p>
  <strong>Name on card:</strong>
  <%= @billing_info.name_on_card %>
</p>

<p>
  <strong>Security code:</strong>
  <%= @billing_info.security_code %>
</p>

<p>
  <strong>Month expiry:</strong>
  <%= @billing_info.month_expiry %>
</p>

<p>
  <strong>Year expiry:</strong>
  <%= @billing_info.year_expiry %>
</p>

<%= link_to 'Edit', edit_billing_info_path(@billing_info) %> |
<%= link_to 'Back', billing_infos_path %>
