<%= form_with(model: event_booking, local: true) do |form| %>
  <% if event_booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_booking.errors.count, "error") %> prohibited this event_booking from being saved:</h2>

      <ul>
      <% event_booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_name %>
    <%= form.text_field :event_name, id: :event_booking_event_name %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.collection_select :client_id, @clients, :id, :client_name %>
  </div>

  <div class="field">
    <%= form.label :budget %>
    <%= form.text_field :budget, id: :event_booking_budget %>
  </div>

  <div class="field">
    <%= form.label :attendance %>
    <%= form.number_field :attendance, id: :event_booking_attendance %>
  </div>

  <div class="field">
    <%= form.label :venue_id %>
    <%= form.collection_select :venue_id, @venues, :id, :venue_name %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time, id: :event_booking_start_time %>
  </div>

  <div class="field">
    <%= form.label :duration %>
    <%= form.text_field :duration, id: :event_booking_duration %>
  </div>

  <div class="field">
    <%= form.label :is_public %>
    <%= form.check_box :is_public, id: :event_booking_is_public %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes, id: :event_booking_notes %>
  </div>

  <div class="field">
    <%= form.label :actual_end_time %>
    <%= form.datetime_field :actual_end_time, id: :event_booking_actual_end_time %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :event_booking_amount %>
  </div>

  <div class="field">
    <%= form.label :billing_card %>
    <%= form.collection_select :billing_card, @billingCards, :id, :card_number %>
  </div>

  <div class="field">
    <%= form.label :billing_date %>
    <%= form.date_field :billing_date, id: :event_booking_billing_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
