<p id="notice"><%= notice %></p>

<h1>Event Bookings</h1>

<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Event name</th>
      <th>Client</th>
      <th>Budget</th>
      <th>Attendance</th>
      <th>Venue</th>
      <th>Start time</th>
      <th>Duration</th>
      <th>Is public</th>
      <th>Notes</th>
      <th>Actual end time</th>
      <th>Amount</th>
      <th>Billing card</th>
      <th>Billing date</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @event_bookings.each do |event_booking| %>
      <tr>
        <td><%= event_booking.event_name %></td>
        <td><%= @clients.where(id: event_booking.client_id).first.client_name %></td>
        <td><%= event_booking.budget %></td>
        <td><%= event_booking.attendance %></td>
        <td><%= @venues.where(id: event_booking.venue_id).first.venue_name %></td>
        <td><%= event_booking.start_time.strftime("%m/%d/%Y %H:%M") %></td>
        <td><%= event_booking.duration %></td>
        <td><%= event_booking.is_public %></td>
        <td><%= event_booking.notes %></td>
        <td><%= event_booking.actual_end_time ? event_booking.actual_end_time.strftime("%m/%d/%Y %H:%M") : '' %></td>
        <td><%= event_booking.amount %></td>
        <td><%= @billing_infos.where(id: event_booking.billing_card).first.card_number %></td>
        <td><%= event_booking.billing_date ? event_booking.billing_date.strftime("%m/%d/%Y") : '' %></td>
        <td>
        <%= link_to 'Show', event_booking %>
        <%= link_to 'Edit', edit_event_booking_path(event_booking) %>
        <%= link_to 'Destroy', event_booking, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Booking', new_event_booking_path %>
