<p id="notice"><%= notice %></p>

<p>
  <strong>Event name:</strong>
  <%= @event_booking.event_name %>
</p>

<p>
  <strong>Client:</strong>
  <%= Client.all.where(id: @event_booking.client_id).first.client_name %>
</p>

<p>
  <strong>Budget:</strong>
  <%= @event_booking.budget %>
</p>

<p>
  <strong>Attendance:</strong>
  <%= @event_booking.attendance %>
</p>

<p>
  <strong>Venue:</strong>
  <%= Venue.all.where(id: @event_booking.venue_id).first.venue_name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event_booking.start_time %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @event_booking.duration %>
</p>

<p>
  <strong>Is public:</strong>
  <%= @event_booking.is_public %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @event_booking.notes %>
</p>

<p>
  <strong>Actual end time:</strong>
  <%= @event_booking.actual_end_time %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @event_booking.amount %>
</p>

<p>
  <strong>Billing card:</strong>
  <%= BillingInfo.where(id: @event_booking.billing_card).first.card_number %>
</p>

<p>
  <strong>Billing date:</strong>
  <%= @event_booking.billing_date %>
</p>

<%= link_to 'Edit', edit_event_booking_path(@event_booking) %> |
<%= link_to 'Back', event_bookings_path %>
