<p id="notice"><%= notice %></p>

<h1>Clients</h1>

<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Client name</th>
      <th>Account type</th>
      <th>Street number</th>
      <th>Street name</th>
      <th>City</th>
      <th>Postal code</th>
      <th>Email</th>
      <th>Phone number</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.client_name %></td>
        <td><%= @account_types.where(id: client.account_type_id).first.account_type_name %></td>
        <td><%= client.street_number %></td>
        <td><%= client.street_name %></td>
        <td><%= client.city %></td>
        <td><%= client.postal_code %></td>
        <td><%= client.email %></td>
        <td><%= client.phone_number %></td>
        <td>
        <%= link_to 'Show', client %>
        <%= link_to 'Edit', edit_client_path(client) %>
        <%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
