<p id="notice"><%= notice %></p>

<p>
  <strong>Client name:</strong>
  <%= @client.client_name %>
</p>

<p>
  <strong>Account type:</strong>
  <%= AccountType.all.where(id: @client.account_type_id).first.account_type_name %>
</p>

<p>
  <strong>Street number:</strong>
  <%= @client.street_number %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @client.street_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @client.city %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @client.postal_code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @client.phone_number %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
