<%= form_with(model: item_booking, local: true) do |form| %>
  <% if item_booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item_booking.errors.count, "error") %> prohibited this item_booking from being saved:</h2>

      <ul>
      <% item_booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :event_id %>
    <%= form.collection_select :event_id, @events, :id, :event_name %>
  </div>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.collection_select :item_id, @items, :id, :item_name %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity, id: :item_booking_quantity %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_field :notes, id: :item_booking_notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
