<p id="notice"><%= notice %></p>

<h1>Item Bookings</h1>

<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Event</th>
      <th>Item</th>
      <th>Quantity</th>
      <th>Notes</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @item_bookings.each do |item_booking| %>
      <tr>
        <td><%= @events.where(id: item_booking.event_id).first.event_name %></td>
        <td><%= @items.where(id: item_booking.item_id).first.item_name %></td>
        <td><%= item_booking.quantity %></td>
        <td><%= item_booking.notes %></td>
        <td>
        <%= link_to 'Show', item_booking %>
        <%= link_to 'Edit', edit_item_booking_path(item_booking) %>
        <%= link_to 'Destroy', item_booking, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item Booking', new_item_booking_path %>
