<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= EventBooking.all.where(id: @item_booking.event_id).first.event_name %>
</p>

<p>
  <strong>Item:</strong>
  <%= Item.all.where(id: @item_booking.item_id).first.item_name %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item_booking.quantity %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @item_booking.notes %>
</p>

<%= link_to 'Edit', edit_item_booking_path(@item_booking) %> |
<%= link_to 'Back', item_bookings_path %>
