<%= form_with(model: account_type, local: true) do |form| %>
  <% if account_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account_type.errors.count, "error") %> prohibited this account_type from being saved:</h2>

      <ul>
      <% account_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :account_type_name %>
    <%= form.text_field :account_type_name, id: :account_type_account_type_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
