<p id="notice"><%= notice %></p>

<h1>Account Types</h1>

<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Account type name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @account_types.each do |account_type| %>
      <tr>
        <td><%= account_type.account_type_name %></td>
        <td>
        <%= link_to 'Show', account_type %>
        <%= link_to 'Edit', edit_account_type_path(account_type) %>
        <%= link_to 'Destroy', account_type, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Account Type', new_account_type_path %>
