<p id="notice"><%= notice %></p>

<p>
  <strong>Account type name:</strong>
  <%= @account_type.account_type_name %>
</p>

<%= link_to 'Edit', edit_account_type_path(@account_type) %> |
<%= link_to 'Back', account_types_path %>
