<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
</head>

<body>
  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-5">Perfect Party Database Management System</h1>
      <p class="lead">We help our client plan their event so they can focus on enjoying their moment. </p>
    </header>

    <!-- Page Features -->
    <div class="row text-center">
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <%= image_tag 'cokes.jpg', :class => "card-img-top"%>
          <div class="card-body d-flex flex-column">
            <h4 class="card-title mt-auto">Item Booking</h4>
            <p class="card-text">Create Item Booking</p>
          </div>
          <div class="card-footer">
            <a href="/item_bookings/new" class="btn btn-primary" style="color:white">Add Item Booking</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <%= image_tag 'time.jpg', :class => "card-img-top"%>
          <div class="card-body d-flex flex-column">
            <h4 class="card-title mt-auto">Event Booking</h4>
            <p class="card-text">Create Event Booking</p>
          </div>
          <div class="card-footer">
            <a href="/event_bookings/new" class="btn btn-primary" style="color:white">Add Event Booking</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <%= image_tag 'pop.jpg', :class => "card-img-top"%>
          <div class="card-body d-flex flex-column">
            <h4 class="card-title mt-auto">Item</h4>
            <p class="card-text">Create Item</p>
          </div>
          <div class="card-footer">
            <a href="/items/new" class="btn btn-primary" style="color:white">Add Item</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <%= image_tag 'items.jpg', :class => "card-img-top"%>
          <div class="card-body d-flex flex-column">
            <h4 class="card-title mt-auto">Item Type</h4>
            <p class="card-text">Create New Item Type</p>
          </div>
          <div class="card-footer">
            <a href="/item_types/new" class="btn btn-primary" style="color:white">Add Item Type</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <%= image_tag 'truck.png', :class => "card-img-top"%>
          <div class="card-body d-flex flex-column">
            <h4 class="card-title mt-auto">Supplier</h4>
            <p class="card-text">Create Supplier</p>
          </div>
          <div class="card-footer">
            <a href="/suppliers/new" class="btn btn-primary" style="color:white">Add Supplier</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <%= image_tag 'money.jpg', :class => "card-img-top"%>
          <div class="card-body d-flex flex-column">
            <h4 class="card-title mt-auto">Billing Info</h4>
            <p class="card-text">Create Billing Info</p>
          </div>
          <div class="card-footer">
            <a href="/billing_infos/new" class="btn btn-primary" style="color:white">Add Billing Info</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <%= image_tag 'happy-client.png', :class => "card-img-top"%>
          <div class="card-body d-flex flex-column">
            <h4 class="card-title mt-auto">Client</h4>
            <p class="card-text">Create New Client</p>
          </div>
          <div class="card-footer">
            <a href="/clients/new" class="btn btn-primary" style="color:white">Add Client</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <%= image_tag 'medal.jpg', :class => "card-img-top"%>
          <div class="card-body d-flex flex-column">
            <h4 class="card-title mt-auto">Account Type</h4>
            <p class="card-text">Create New Account Type</p>
          </div>
          <div class="card-footer">
            <a href="/account_types/new" class="btn btn-primary" style="color:white">Add Account Type</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <%= image_tag 'map.png', :class => "card-img-top"%>
          <div class="card-body d-flex flex-column">
            <h4 class="card-title mt-auto">Venue</h4>
            <p class="card-text">Create Venue Information</p>
          </div>
          <div class="card-footer">
            <a href="/venues/new" class="btn btn-primary" style="color:white">Add Venue</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->
  
  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; William Taeyeop Vince 2019</p>
    </div>
    <!-- /.container -->
  </footer>
</body>

</html>
