<%= form_with(model: venue, local: true) do |form| %>
  <% if venue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(venue.errors.count, "error") %> prohibited this venue from being saved:</h2>

      <ul>
      <% venue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :venue_name %>
    <%= form.text_field :venue_name, id: :venue_venue_name %>
  </div>

  <div class="field">
    <%= form.label :street_number %>
    <%= form.text_field :street_number, id: :venue_street_number %>
  </div>

  <div class="field">
    <%= form.label :street_name %>
    <%= form.text_field :street_name, id: :venue_street_name %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :venue_city %>
  </div>

  <div class="field">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code, id: :venue_postal_code %>
  </div>

  <div class="field">
    <%= form.label :capacity %>
    <%= form.number_field :capacity, id: :venue_capacity %>
  </div>

  <div class="field">
    <%= form.label :recess_time %>
    <%= form.text_field :recess_time, id: :venue_recess_time %>
  </div>

  <div class="field">
    <%= form.label :pricing %>
    <%= form.text_field :pricing, id: :venue_pricing %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
