<p id="notice"><%= notice %></p>

<h1>Venues</h1>

<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Venue name</th>
      <th>Street number</th>
      <th>Street name</th>
      <th>City</th>
      <th>Postal code</th>
      <th>Capacity</th>
      <th>Recess time</th>
      <th>Pricing</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= venue.venue_name %></td>
        <td><%= venue.street_number %></td>
        <td><%= venue.street_name %></td>
        <td><%= venue.city %></td>
        <td><%= venue.postal_code %></td>
        <td><%= venue.capacity %></td>
        <td><%= venue.recess_time %></td>
        <td><%= venue.pricing %></td>
        <td>
        <%= link_to 'Show', venue %>
        <%= link_to 'Edit', edit_venue_path(venue) %>
        <%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Venue', new_venue_path %>
