<p id="notice"><%= notice %></p>

<p>
  <strong>Venue name:</strong>
  <%= @venue.venue_name %>
</p>

<p>
  <strong>Street number:</strong>
  <%= @venue.street_number %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @venue.street_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @venue.city %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @venue.postal_code %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @venue.capacity %>
</p>

<p>
  <strong>Recess time:</strong>
  <%= @venue.recess_time %>
</p>

<p>
  <strong>Pricing:</strong>
  <%= @venue.pricing %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
