<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :item_name %>
    <%= form.text_field :item_name, id: :item_item_name %>
  </div>

  <div class="field">
    <%= form.label :item_type_id %>
    <%= form.collection_select :item_type_id, @itemTypes, :id, :item_type_name %>
  </div>

  <div class="field">
    <%= form.label :supplier_id %>
    <%= form.collection_select :supplier_id, @suppliers, :id, :supplier_name %>
  </div>

  <div class="field">
    <%= form.label :pricing %>
    <%= form.text_field :pricing, id: :item_pricing %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
