<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Item name</th>
      <th>Item type</th>
      <th>Supplier</th>
      <th>Pricing</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.item_name %></td>
        <td><%= @item_types.where(id: item.item_type_id).first.item_type_name %></td>
        <td><%= @suppliers.where(id: item.supplier_id).first.supplier_name %></td>
        <td><%= item.pricing %></td>
        <td>
        <%= link_to 'Show', item %>
        <%= link_to 'Edit', edit_item_path(item) %>
        <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
