<p id="notice"><%= notice %></p>

<p>
  <strong>Item name:</strong>
  <%= @item.item_name %>
</p>

<p>
  <strong>Item type:</strong>
  <%= ItemType.where(id: @item.item_type_id).first.item_type_name %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= Supplier.all.where(id: @item.supplier_id).first.supplier_name %>
</p>

<p>
  <strong>Pricing:</strong>
  <%= @item.pricing %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
