<p id="notice"><%= notice %></p>

<h1>Suppliers</h1>

<table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th>Supplier name</th>
      <th>Street number</th>
      <th>Street name</th>
      <th>City</th>
      <th>Postal code</th>
      <th>Email</th>
      <th>Phone number</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.supplier_name %></td>
        <td><%= supplier.street_number %></td>
        <td><%= supplier.street_name %></td>
        <td><%= supplier.city %></td>
        <td><%= supplier.postal_code %></td>
        <td><%= supplier.email %></td>
        <td><%= supplier.phone_number %></td>
        <td>
        <%= link_to 'Show', supplier %>
        <%= link_to 'Edit', edit_supplier_path(supplier) %>
        <%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Supplier', new_supplier_path %>
