<p id="notice"><%= notice %></p>

<p>
  <strong>Supplier name:</strong>
  <%= @supplier.supplier_name %>
</p>

<p>
  <strong>Street number:</strong>
  <%= @supplier.street_number %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @supplier.street_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @supplier.city %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @supplier.postal_code %>
</p>

<p>
  <strong>Email:</strong>
  <%= @supplier.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @supplier.phone_number %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
