<!DOCTYPE html>
<html>
  <head>
    <title>PerfectParty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- jQuery and Bootstrap -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <%= javascript_include_tag 'datatables.min' %>
    <%= stylesheet_link_tag 'datatables.min' %>

  </head>

  <body>
    <!-- Navigation -->
    <header class="navbar  navbar-inverse">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="/">Perfect Party</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/venues">Venue</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/account_types">Account Type</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/clients">Client</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/billing_infos">Billing Info</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/suppliers">Supplier</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/item_types">Item Type</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/items">Item</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" href="/event_bookings">Event Booking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/item_bookings">Item Booking</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/query">Run Query<span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>

  </body>

<script type="text/javascript">
  renderedDatatable = null

  function initializeDatatable() {
    if (!$.fn.DataTable.isDataTable('#datatable')) {
      renderedDatatable = $('#datatable').DataTable({"scrollX": true});
      $('.dataTables_length').addClass('bs-select');
    }
  }

  document.addEventListener("turbolinks:load", function eventHandler(event) {
    if ($('#datatable')) {
      initializeDatatable()
    }
  })
  
  document.addEventListener("turbolinks:before-cache", function eventHandler(event) {
    if ($('#datatable_wrapper').length == 1) {
      renderedDatatable.destroy()
    }
  })

  function reinitalizeTable(columnHeaders, displayFields, data) {
    if (!$('#div_table')) return
    $("#datatable_wrapper").remove()

    var tableHtml = "<table id=\"datatable\" class=\"table table-striped table-bordered\" cellspacing=\"0\" width=\"100%\"><thead><tr>" + columnHeaders + "</tr></thead><tbody>"
    if (data.length) {
      var rows = ''
      $.each(data, function(index, item) {
        rows += '<tr>';
        $.each(displayFields, function(index, field) {
          rows += '<td>' + (item[field+''] ? item[field+''] : '') + '</td>';
        });
        rows += '</tr>';
      });
      tableHtml += rows
    }
    tableHtml += "</tbody></table>"

    $('#div_table').append(tableHtml);
    initializeDatatable()
  }
</script>

</html>
